html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    background-color: #dde0e5 !important;
}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.form-label-group {
    position: relative;
}

.form-label-group > select {
    margin-top: 10px;
    padding: 10px 10px;
    height: auto;
    color: #232e40;
    letter-spacing: -0.8px;
    border-radius: 5px;
    border: none;
}

Button {
    padding: 6px 19px !important;
    font-size: 13px;
    letter-spacing: -0.5px;
    border: 0 !important;
    color: navy !important;
    margin: 3px 0;
    border-radius: 5px !important;
    cursor: pointer;
    outline: none;
}

.container {
    position:absolute;
    top:20%;
    left:45%;   
}

#price_result {
    color:red;
}

table {
    border-collapse: collapse;
    display:none;
    border: 1px solid black;
}
  
tr {
    border-bottom: 1pt solid black;
    text-align: center;
}

input {
    border: none;
    margin-top: 10px;
    padding: 10px 10px;
    height: auto;
    color: #232e40;
    letter-spacing: -0.8px;
    border-radius: 5px;
}

.card-body-table {
    margin-top: 20px;
}

